
@{
   ViewData["Title"] = "Book Detial";
}

<div class="row align-items-center mt-5">
    <div class="col-md-6">
        <img src="https://placehold.co/600x400" class="card-img-top" alt="placeholder image">
    </div>
    <div class="col-md-6 d-flex flex-column align-items-start">
        <h1>Spiderman: Something of the multiverse</h1>
        <ul class="list-group mt-3 w-100">
            <li class="list-group-item">Year: <strong>2023</strong></li>
            <li class="list-group-item">Author: <strong>Vnicom Hub</strong></li>
            <li class="list-group-item">Price: <strong>₦2,000</strong></li>
        </ul>
        <a class="btn btn-primary mt-3">Buy Now</a>
    </div>
</div>
<div class="mt-5">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
    officia deserunt mollit anim id est laborum.</p>
</div>